.Rectangle-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.Rectangle-code {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: #161616;
}
.Rectangle-chatbox {
  grid-column-start: 2;
  grid-column-end: 8;
  width: 100%;
  background-color: #161616;
}
.Rectangle {
  border-radius: 2px;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
}
.ApplyChange-Button-Enabled {
  width: 132px;
  height: 24px;
  float: right;
  margin-top: 4px;
  border-radius: 4px;
  font-family: 'Quicksand';
  font-size: 14px;
  font-weight: 500;
  font-style: 'normal';
  font-stretch: 'normal';
  line-height: 'normal';
  letter-spacing: 'normal';
  text-align: 'center';
  border-color: #66d68d;
  background-color: #66d68d;
  color: #ffffff;
  outline: none;
}
.ApplyChange-Button-Disabled {
  width: 132px;
  height: 24px;
  float: right;
  margin-top: 4px;
  border-radius: 4px;
  font-family: 'Quicksand';
  font-size: 14px;
  font-weight: 500;
  font-style: 'normal';
  font-stretch: 'normal';
  line-height: 'normal';
  letter-spacing: 'normal';
  text-align: 'center';
  border-color: #282828;
  background-color: #282828;
  color: #454545;
  outline: none;
}
.chatBox {
  position: relative;
  top: 15%;
  padding: 25px
}
.chatArea {
  height: 400px;
  overflow: auto;
  border-radius: 12px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
}
.inputBox {
  width: 100%;
  height: 72px;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a9a9a9;
  border-color: #3c3a3b;

}

.user {
  clear: both;
  display: flex; 
  float: left;
  padding: 10px;
  max-width: 30%;
  margin-bottom : 10px;
  word-wrap: break-word;
}

.user > img {
  height: 20px;
  margin-right: 10px;
  float: left
}

.bot {
  clear: both;
  display: flex; 
  float: right;
  padding: 10px;
  max-width: 30%;
  margin-bottom : 10px;
  word-wrap: break-word;
}

.bot > img {
  position: relative;
  float: right;
  margin-left: 5px;
  height: 20px;
}

.chatText {
  padding: 10px;
  border-radius: 8px;
  background-color: #404040;
  font-family: 'Quicksand';
  font-size: 18px;
  color: #d3d3d3;
  text-align: center;
  padding-left: 5px;
}
